<div class="container">
    <h2>User Detail</h2>
           
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody *ngIf="userData">
        <tr *ngFor="let user of userData;let i=index" (click)="openDetailPage(i+1);">
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>