<ngx-spinner></ngx-spinner>
<div class="container">
  <legend>User Detail Form</legend>
  <form class="form-horizontal">
            <div class="form-group">
                    <label class="control-label col-sm-2">Name:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value={{singleUserInfo.name}}>
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-2">Username:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value={{singleUserInfo.username}}>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Email:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value={{singleUserInfo.email}}>
                      </div>
                    </div>
                <div *ngIf="singleUserInfo.address">
                    <div class="form-group">
                      <label class="control-label col-sm-2">Street:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value={{singleUserInfo.address.street}}>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">City:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value={{singleUserInfo.address.city}}>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Zipcode:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value={{singleUserInfo.address.zipcode}}>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Suite:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value={{singleUserInfo.address.suite}}>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Phone:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value={{singleUserInfo.phone}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Website:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value={{singleUserInfo.website}}>
                        </div>
                    </div>
                </div>
    
  </form>
</div>